div {
    /*border-style: solid;*/
    border-width: 0.02px;
    text-align: center;
    vertical-align: middle;
}

/*ABOVE IS FOR TESTING PURPOSES*/

.hidden {
    display: none;
}

.noMargin {
    margin: 0;
}

.noPadding {
    padding: 0;
}

.rightAbsolute {
    position: absolute;
    right: 0;
}

.leftAbsolute {
    position: absolute;
    left: 0;
}

.fontBold {
    font-weight: bold;
}

.height50px {
    height: 50px;
}

button {
    bottom: 9px;
}

.right-align {
    text-align: right;
    margin-right: 140px;
    margin-top: 60px;
}

.left-align {
    text-align: left;
}

.container {
    border: 1px solid rgba(0, 0, 0, 0.98);
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo {
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;

}
.row{
    padding: 5px;
}

input {
    width: 100%;
}

.logoColour {
    background-color: #DDEBF6;

}

.textarea {
    max-width: 100%;
    min-width: 100%;

}

@media print {
    .logoColour {
        background-color: #DDEBF6 !important;

    }
}
