<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div class="container" th:fragment="materialeliste">
    <table style="margin-bottom:0;" class="table table-bordered">
        <thead class="logoColour">
        <tr>
            <th style="border:none;" colspan="7"><h3 class="center-align noMargin">Materialeliste</h3></th>
        </tr>
        <tr>
            <th style="border:none;padding-left:18px;">Produkt</th>
            <th style="border:none;" class="center-align">Bil/Rester</th>
            <th style="border:none;" class="center-align">Hjemkøbt</th>
            <th style="border:none;"></th>
            <th style="border:none;">Produkt</th>
            <th style="border:none;" class="center-align">Bil/Rester</th>
            <th style="border:none;" class="center-align">Hjemkøbt</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="left-align" style="padding-left:18px;">Affaldsposer</td>
            <td><input type="checkbox"></td>
            <td><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
            <td style="border-bottom:none;"></td>
            <td class="left-align">Spartelmasse</td>
            <td><input type="checkbox"></td>
            <td style="padding-right:18px;"><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
        </tr>
        <tr>
            <td class="left-align" style="padding-left:18px;">Dobbelttape</td>
            <td><input type="checkbox"></td>
            <td><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
            <td style="border:none;"></td>
            <td class="left-align">Spartelnet</td>
            <td><input type="checkbox"></td>
            <td style="padding-right:18px;"><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
        </tr>
        <tr>
            <td class="left-align" style="padding-left:18px;">Kontaktlim</td>
            <td><input type="checkbox"></td>
            <td><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
            <td style="border:none;"></td>
            <td class="left-align">Spånplader</td>
            <td><input type="checkbox"></td>
            <td style="padding-right:18px;"><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
        </tr>
        <tr>
            <td class="left-align" style="padding-left:18px;">Lim</td>
            <td><input type="checkbox"></td>
            <td><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
            <td style="border:none;"></td>
            <td class="left-align">Svejsetråd</td>
            <td><input type="checkbox"></td>
            <td style="padding-right:18px;"><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
        </tr>
        <tr>
            <td class="left-align" style="padding-left:18px;">Linoleum</td>
            <td><input type="checkbox"></td>
            <td><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
            <td style="border:none;"></td>
            <td class="left-align">Thermofelt</td>
            <td><input type="checkbox"></td>
            <td style="padding-right:18px;"><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
        </tr>
        <tr>
            <td class="left-align" style="padding-left:18px;">Lister</td>
            <td><input type="checkbox"></td>
            <td><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
            <td style="border:none;"></td>
            <td class="left-align">Trappeskinner</td>
            <td><input type="checkbox"></td>
            <td style="padding-right:18px;"><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
        </tr>
        <tr>
            <td class="left-align" style="padding-left:18px;">Monel</td>
            <td><input type="checkbox"></td>
            <td><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
            <td style="border:none;"></td>
            <td class="left-align">Trægulv/foam</td>
            <td><input type="checkbox"></td>
            <td style="padding-right:18px;"><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
        </tr>
        <tr>
            <td class="left-align" style="padding-left:18px;">Plastforkant</td>
            <td><input type="checkbox"></td>
            <td><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
            <td style="border:none;"></td>
            <td class="left-align">Trælim/skruer</td>
            <td><input type="checkbox"></td>
            <td style="padding-right:18px;"><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
        </tr>
        <tr>
            <td class="left-align" style="padding-left:18px;">Primer</td>
            <td><input type="checkbox"></td>
            <td><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
            <td style="border:none;"></td>
            <td class="left-align">Tæppe/sisal</td>
            <td><input type="checkbox"></td>
            <td style="padding-right:18px;"><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
        </tr>
        <tr>
            <td class="left-align" style="padding-left:18px;">Quickfit</td>
            <td><input type="checkbox"></td>
            <td><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
            <td style="border:none;"></td>
            <td class="left-align">Vinyl</td>
            <td><input type="checkbox"></td>
            <td style="padding-right:18px;"><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
        </tr>
        <tr>
            <td class="left-align" style="padding-left:18px;">Silicone</td>
            <td><input type="checkbox"></td>
            <td><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
            <td style="border:none;"></td>
            <td class="left-align">Skinne GULD, måne</td>
            <td><input type="checkbox"></td>
            <td style="padding-right:18px;"><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
        </tr>
        <tr>
            <td class="left-align" style="padding-left:18px;">Skinner Alu, måne</td>
            <td><input type="checkbox"></td>
            <td><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
            <td style="border:none;"></td>
            <td class="left-align">Skruer</td>
            <td><input type="checkbox"></td>
            <td style="padding-right:18px;"><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
        </tr>
        <tr>
            <td class="left-align" style="padding-left:18px;"></td>
            <td><input type="checkbox"></td>
            <td><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
            <td style="border:none;"></td>
            <td class="left-align"></td>
            <td><input type="checkbox"></td>
            <td style="padding-right:18px;"><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
        </tr>
        <tr>
            <td class="left-align" style="padding-left:18px;"></td>
            <td><input type="checkbox"></td>
            <td><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
            <td style="border:none;"></td>
            <td class="left-align"></td>
            <td><input type="checkbox"></td>
            <td style="padding-right:18px;"><input type="text" class="center-align" style="border-left:0;border-right:0;border-top:0;outline:none;">
            </td>
        </tr>

        </tbody>
    </table>
</div>