<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>opret_sag</title>
    <th:block th:include="fragments/head :: headInclude"/>
    <link rel="stylesheet" type="text/css" th:href="@{../style.css}">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container-fluid">

    <form method="post" th:action="@{/afslut_sag}">


        <div class="container logo">
            <div class="row noBorder">
                <div class="col-sm-6"><img class="pull-left" th:src="@{/billeder/Logo PNG.png}"/></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4"><h3 class="pull-right">Arbejdsseddel:</h3></div>
            </div>
        </div>

        <div class="container">
            <div class="row logoColour">
                <div class="col-sm-2">
                    <label>Arbejdssted:</label>
                </div>
                <div class="col-sm-10">

                    <p class="paragraph" th:text="${Sag.arbejdssted}"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <label>Adresse:</label>
                </div>
                <div class="col-sm-10">
                    <p class="paragraph" th:text="${Sag.vejnavn}"></p>
                </div>
            </div>

            <div class="row ">
                <div class="col-sm-2">
                    <label>By:</label>
                </div>
                <div class="col-sm-10">
                    <p class="paragraph" th:text="${Sag.by}"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <label>Kunde:</label>
                </div>
                <div class="col-sm-10">
                    <p class="paragraph" th:text="${Sag.kontaktperson_navn}"></p>
                </div>
            </div>

            <div class="row ">
                <div class="col-sm-2">
                    <label>E-mail:</label>
                </div>
                <div class="col-sm-10">
                    <p class="paragraph" th:text="${Sag.email}"></p>
                </div>
            </div>

            <div class="row logoColour">
                <div class="col-sm-2">
                    <label>Telefonnummer:</label>
                </div>
                <div class="col-sm-10">
                    <p class="paragraph" th:text="${Sag.telefonnummer}"></p>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="row logoColour">
                <div class="col-sm-2">
                    <label>Opstartsdato:</label>
                </div>
                <div class="col-sm-4">
                    <p class="paragraph" th:text="${Sag.start_dato}"></p>
                </div>

                <div class="col-sm-2">
                    <label>Slutdato:</label>
                </div>
                <div class="col-sm-4">
                    <p class="paragraph" th:text="${Sag.slut_dato}"></p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row logoColour">
                <div class="col-sm-8 center-align">
                    <label>Ekstraarbejde er udført. Aftalt med:</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" th:value="${Sag.kontaktperson_navn}" readonly="readonly"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <textarea wrap="hard" th:value="${Sag.ekstra_arbejde}" class="form-control textarea"
                              rows="5"></textarea>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row logoColour">
                <div class="col-sm-4">
                    <label>Der er aftalt fast mødetid kl.</label>
                </div>
                <div class="col-sm-2">
                    <p class="paragraph" th:text="${Sag.fast_moedetid}"></p>
                </div>

                <div class="col-sm-4">
                    <label>Arbejdet skal udføres på overtid fra kl.</label>
                </div>
                <div class="col-sm-2">
                    <p class="paragraph" th:text="${Sag.udfoeres_overtid}"></p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row logoColour">
                <div class="col-sm-12 ">
                    <label>Arbejdsbeskrivelse:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="paragraph" th:text="${Sag.arbejdsbeskrivelse}"></p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row logoColour">
                <div class="col-sm-12">
                    <label>Særlige aftaler:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="paragraph" th:text="${Sag.saerlige_aftaler}"></p>
                </div>
            </div>
        </div>


        <input type="hidden" th:value="${Sag.getSags_id()}" name="end_Sag_id">
        <button type="submit" name="end_Sag">Afslut sag</button>
        <button type="submit" name="registrer_timer">Registrer timer</button>

    </form>
</div>

</body>

</html>