<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Afslut sag</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container-fluid">
    <form method="post" th:action="@{/afslut_sag}">
    <h1 th:text="'Sag nr: '+${case.getSags_id()}"></h1>


    <h4>Oplysninger</h4>
    <div class="row">
        <div class="col-md-2">

            <label>Arbejdssted:</label>
            <br/>
            <input type="text" th:field="${case.arbejdssted}" readonly="readonly"/>
        </div>

        <div class="col-md-4">
            <label>Telefonnummer:</label>
            <br/>
            <input type="text" th:field="${case.telefonnummer}" readonly="readonly"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label>Vejnavn:</label>
            <br/>
            <input type="text" th:field="${case.vejnavn}" readonly="readonly"/>
        </div>

        <div class="col-md-4">
            <label>Vejnummer:</label>
            <br/>
            <input type="text" th:field="${case.vejnummer}" readonly="readonly"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label>By:</label>
            <br/>
            <input type="text" th:field="${case.by}" readonly="readonly"/>
        </div>

        <div class="col-md-4">
            <label>Postnummer:</label>
            <br/>
            <input type="text" th:field="${case.postnummer}" readonly="readonly"/>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2">
            <label>Start dato:</label>
            <br/>
            <input type="text" th:field="${case.start_dato}" readonly="readonly"/>
        </div>
        <div class="col-md-4">
            <label>Slut dato:</label>
            <br/>
            <input type="text" th:field="${case.slut_dato}" readonly="readonly"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label>E-mail:</label>
            <br/>
            <input type="text" th:field="${case.email}" readonly="readonly"/>
        </div>

        <div class="col-md-4">
            <label>Særlige aftaler:</label>
            <br/>
            <input type="text" th:field="${case.saerlige_aftaler}" readonly="readonly"/>
        </div>
    </div>

    <h4>Kontaktperson</h4>
    <div class="row">
        <div class="col-md-2">
            <label>Kontaktperson navn:</label>
            <br/>
            <input type="text" th:field="${case.kontaktperson_navn}" readonly="readonly"/>
        </div>
        <div class="col-md-2">
            <label>Telefonnummer:</label>
            <br/>
            <input type="text" th:field="${case.kontaktperson_telefonnummer}" readonly="readonly"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>E-mail:</label>
            <br/>
            <input type="text" th:field="${case.kontaktperson_email}" readonly="readonly"/>
        </div>
    </div>

    <h4>Ekstra</h4>
    <div class="row">
        <div class="col-md-2">
            <label>Arbejdsbeskrivelse:</label>
            <br/>
            <input type="text" th:field="${case.arbejdsbeskrivelse}" readonly="readonly"/>
        </div>

        <div class="col-md-2">
            <label>Ekstra arbejde:</label>
            <br/>
            <input type="text" name="ekstra_arbejde"/>
        </div>
        <div class="col-md-2">
            <label>Indtast arbejdstimer</label>
            <br/>
            <input type="text" name="arbejdstimer">
        </div>

       <!-- FOR TESTING, TO BE REMOVED -->
        <div class="col-md-2">
            <label>Indtast svend id</label>
            <br/>
            <input type="text" name="svend_id">
        </div>
</div>


        <input type="hidden" th:value="${case.getSags_id()}" name="end_case_id">
        <button type="submit" name="end_case">Afslut sag</button>
        <button type="submit" name="registrer_timer">Registrer timer</button>
    </form>

</div>


</body>
</html>