<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8"/>
    <title>Kalender</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{calStyle.css}"/>

    <th:block th:include="fragments/til_toppen_knap :: til_toppen_knap"/>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-white" id="calNavbar">
    <a class="navbar-brand" href="/menu">Evigglade Gulve</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/menu">Menu</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sager
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/opret_sag">Opret sag</a>
                    <a class="dropdown-item" href="/sager_til_redigering">Rediger sag</a>
                    <a class="dropdown-item" href="/sager_til_afslutning">Afslut sag</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Medarbejdere
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item" href="/opret_medarbejder">Opret medarbejder</a>
                    <a class="dropdown-item" href="/medarbejdere_til_redigering">Rediger medarbejder</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kalender">Kalender</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/log_ind">Log ud</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid" id="outerContainer">
    <div class="container-fluid noPadding noMargin" id="headerContainer">
        <h1>Kalender</h1>
        <table class="col-sm-12">
            <form method="post" th:action="@{/kalender}">
                <tr class="row noMargin">
                    <td class="col-sm-4">
                        <div class="left-align" id="colorExplain">
                            <div class="color-box-red float-left"></div><p>= Igangværende</p>
                            <div class="color-box-green float-left"></div><p>= Afsluttet</p>
                        </div>
                    </td>
                    <td class="col-sm-4 fontSize13" th:text="${startDateDay}+ ' '+${startDateMonth}+ ' ' + ${startDateYear}+' - '+${endDateDay}+ ' '+${endDateMonth} + ' '+${endDateYear}">01 januar 2018 - 14 januar 2018</td>
                    <td class="col-sm-2">
                        <input type="date" name="dateFromGoTo"/>
                    </td>
                    <td class="col-sm-1  noBorderLeft">
                        <button style="margin-bottom:12%;" type="submit" class="btn defaultBtn pull-left"
                                name="goToDate">Gå
                        </button>
                    </td>
                </tr>
            </form>
        </table>
        <table class="table-bordered col-sm-12 bg-white">
            <form method="post" th:action="@{/kalender}">
                <tr class="row noMargin height50px">
                    <td class="col-sm-1"></td>
                    <td style="border-right:none;">
                        <button style="margin-top:25%;margin-left:25%;" class="btn defaultBtn fa fa-angle-left" name="previousWeekBtn">

                        </button>
                    </td>
                    <td style="border-left:none;" class="col fontSize15" th:text="'Uge ' + ${week1}">Uge1</td>
                    <td style="border-right:none;" class="col fontSize15" th:text="'Uge ' + ${week2}">Uge2</td>
                    <td style="border-left:none;">
                        <button style="margin-top:25%;margin-left:-50%;" type="submit" class="btn defaultBtn fa fa-angle-right"
                                name="nextWeekBtn">
                        </button>
                    </td>
                </tr>
            </form>
            <tr class="row noMargin fontBold logoColour" id="ugedage">
                <td class="col-sm-1 fontSize15">Navn</td>
                <td class="col fontSize15" th:utext="'man '+ '<br/>'+ ${day1}">man</td>
                <td class="col fontSize15" th:utext="'tir '+ '<br/>'+ ${day2}">tir</td>
                <td class="col fontSize15" th:utext="'ons '+ '<br/>'+ ${day3}">ons</td>
                <td class="col fontSize15" th:utext="'tor '+ '<br/>'+ ${day4}">tor</td>
                <td class="col fontSize15" th:utext="'fre '+ '<br/>'+ ${day5}">fre</td>
                <td class="col fontSize15" th:utext="'lør '+ '<br/>'+ ${day6}">lør</td>
                <td class="col fontSize15" th:utext="'søn '+ '<br/>'+ ${day7}">søn</td>
                <td class="col fontSize15" th:utext="'man '+ '<br/>'+ ${day8}">man</td>
                <td class="col fontSize15" th:utext="'tir '+ '<br/>'+ ${day9}">tir</td>
                <td class="col fontSize15" th:utext="'ons '+ '<br/>'+ ${day10}">ons</td>
                <td class="col fontSize15" th:utext="'tor '+ '<br/>'+ ${day11}">tor</td>
                <td class="col fontSize15" th:utext="'fre '+ '<br/>'+ ${day12}">fre</td>
                <td class="col fontSize15" th:utext="'lør '+ '<br/>'+ ${day13}">lør</td>
                <td class="col fontSize15" th:utext="'søn '+ '<br/>'+ ${day14}">søn</td>
            </tr>
        </table>
    </div>
    <div class="container-fluid noPadding bg-white" id="contentCont">
        <table class="table-bordered col-sm-12">
            <tr class="row noMargin" id="calendarList" th:each="Employee: ${empList}">
                <td class="col-sm-1 fontSize15 logoColour2"
                    th:utext="${Employee.fornavn} + '<br/>' + ${Employee.efternavn}"></td>
                <td class="col fontSize13">
                    <a th:each="Sag: ${Employee.getSager().get(0)}" th:href="'/rediger_sag/' +${Sag.getSags_id()}" ><p th:utext="'Sag nr '+ '<br/>'+${Sag.getSags_id()}" th:class="${Sag.getStatus() == 1}? 'onGoing' : 'ended'"></p></a>
                </td>
                <td class="col fontSize13">
                    <a th:each="Sag: ${Employee.getSager().get(1)}" th:href="'/rediger_sag/' +${Sag.getSags_id()}" ><p th:utext="'Sag nr '+ '<br/>'+${Sag.getSags_id()}" th:class="${Sag.getStatus() == 1}? 'onGoing' : 'ended'"></p></a>
                </td>
                <td class="col fontSize13">
                    <a th:each="Sag: ${Employee.getSager().get(2)}" th:href="'/rediger_sag/' +${Sag.getSags_id()}" ><p th:utext="'Sag nr '+ '<br/>'+${Sag.getSags_id()}" th:class="${Sag.getStatus() == 1}? 'onGoing' : 'ended'"></p></a>
                </td>
                <td class="col fontSize13">
                    <a th:each="Sag: ${Employee.getSager().get(3)}" th:href="'/rediger_sag/' +${Sag.getSags_id()}" ><p th:utext="'Sag nr '+ '<br/>'+${Sag.getSags_id()}" th:class="${Sag.getStatus() == 1}? 'onGoing' : 'ended'"></p></a>
                </td>
                <td class="col fontSize13">
                    <a th:each="Sag: ${Employee.getSager().get(4)}" th:href="'/rediger_sag/' +${Sag.getSags_id()}" ><p th:utext="'Sag nr '+ '<br/>'+${Sag.getSags_id()}" th:class="${Sag.getStatus() == 1}? 'onGoing' : 'ended'"></p></a>
                </td>
                <td class="col fontSize13">
                    <a th:each="Sag: ${Employee.getSager().get(5)}" th:href="'/rediger_sag/' +${Sag.getSags_id()}" ><p th:utext="'Sag nr '+ '<br/>'+${Sag.getSags_id()}" th:class="${Sag.getStatus() == 1}? 'onGoing' : 'ended'"></p></a>
                </td>
                <td class="col fontSize13">
                    <a th:each="Sag: ${Employee.getSager().get(6)}" th:href="'/rediger_sag/' +${Sag.getSags_id()}" ><p th:utext="'Sag nr '+ '<br/>'+${Sag.getSags_id()}" th:class="${Sag.getStatus() == 1}? 'onGoing' : 'ended'"></p></a>
                </td>
                <td class="col fontSize13">
                    <a th:each="Sag: ${Employee.getSager().get(7)}" th:href="'/rediger_sag/' +${Sag.getSags_id()}" ><p th:utext="'Sag nr '+ '<br/>'+${Sag.getSags_id()}" th:class="${Sag.getStatus() == 1}? 'onGoing' : 'ended'"></p></a>
                </td>
                <td class="col fontSize13">
                    <a th:each="Sag: ${Employee.getSager().get(8)}" th:href="'/rediger_sag/' +${Sag.getSags_id()}" ><p th:utext="'Sag nr '+ '<br/>'+${Sag.getSags_id()}" th:class="${Sag.getStatus() == 1}? 'onGoing' : 'ended'"></p></a>
                </td>
                <td class="col fontSize13">
                    <a th:each="Sag: ${Employee.getSager().get(9)}" th:href="'/rediger_sag/' +${Sag.getSags_id()}" ><p th:utext="'Sag nr '+ '<br/>'+${Sag.getSags_id()}" th:class="${Sag.getStatus() == 1}? 'onGoing' : 'ended'"></p></a>
                </td>
                <td class="col fontSize13">
                    <a th:each="Sag: ${Employee.getSager().get(10)}" th:href="'/rediger_sag/' +${Sag.getSags_id()}" ><p th:utext="'Sag nr '+ '<br/>'+${Sag.getSags_id()}" th:class="${Sag.getStatus() == 1}? 'onGoing' : 'ended'"></p></a>
                </td>
                <td class="col fontSize13">
                    <a th:each="Sag: ${Employee.getSager().get(11)}" th:href="'/rediger_sag/' +${Sag.getSags_id()}" ><p th:utext="'Sag nr '+ '<br/>'+${Sag.getSags_id()}" th:class="${Sag.getStatus() == 1}? 'onGoing' : 'ended'"></p></a>
                </td>
                <td class="col fontSize13">
                    <a th:each="Sag: ${Employee.getSager().get(12)}" th:href="'/rediger_sag/' +${Sag.getSags_id()}" ><p th:utext="'Sag nr '+ '<br/>'+${Sag.getSags_id()}" th:class="${Sag.getStatus() == 1}? 'onGoing' : 'ended'"></p></a>
                </td>
                <td class="col fontSize13">
                    <a th:each="Sag: ${Employee.getSager().get(13)}" th:href="'/rediger_sag/' +${Sag.getSags_id()}" ><p th:utext="'Sag nr '+ '<br/>'+${Sag.getSags_id()}" th:class="${Sag.getStatus() == 1}? 'onGoing' : 'ended'"></p></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="container noBorder">
        <div class="col">
            <a th:href="@{'/menu'}">
                <button type="button" name="tilbage" class="btn defaultBtn blackColour">
                    Tilbage
                </button>
            </a>
        </div>
    </div>
</div>

</body>

</html>