<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>Log ind</title>
        <th:block th:include="fragments/head :: headInclude"/>
        <link rel="stylesheet" type="text/css" th:href="@{style.css}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="col-md-12">
                <h1>Log ind</h1>
            </div>
            <div class="col-md-12">
                <form method="post" th:action="@{/log_ind}">
                    <label>Brugernavn</label><br><input type="number" th:name="username"><br><br>
                    <label>Kodeord</label><br><input type="password" th:name="password"><br><br>
                    <button type="submit">Log ind</button>
                </form>
            </div>
        </div>
    </body>
</html>