<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Log ind</title>
    <th:block th:include="fragments/head :: headInclude"/>
    <th:block th:include="fragments/til_toppen_knap :: til_toppen_knap"/>
    <link rel="stylesheet" type="text/css" th:href="@{style.css}">
</head>
<body>
<div class="container-fluid">
    <div class="container logo">
        <div class="row noBorder">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"><img th:src="@{/billeder/Logo PNG.png}"/></div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <form method="post" th:action="@{/log_ind}">
        <div class="container noBorder logoColour" id="loginTitle">
            <div class="row marginTop20 noPadding">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <label class="fontSize18 floatNone">Brugernavn:</label>
                    <input type="number" required class="fontSize18 border-bottom-color" th:name="username">
                </div>
            </div>
            <div class="col-sm-4"></div>
            <div class="row">
                <div class="row marginTop20">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <label class="fontSize18 floatNone">Kodeord:</label>
                        <input type="password" required class="fontSize18 border-bottom-color" th:name="password">
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn defaultBtn blackColour fontSize18">Log ind</button>
    </form>
</div>
</body>
</html>