<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Rediger medarbejder</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{sager.css}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <h1>Medarbejdere</h1>
    <table>
        <tr>
            <th>Medarbejder nr:</th>
            <th>Fornavn:</th>
            <th>Efternavn</th>
            <th></th>
        </tr>
        <tr th:each="Medarbejder: ${medarbejderListe}">

            <td th:text="${Medarbejder.getSvend_id()}"></td>
            <td th:text="${Medarbejder.getFornavn()}"></td>
            <td th:text="${Medarbejder.getEfternavn()}"></td>
            <td><a th:href="'/rediger_medarbejder/'+${Medarbejder.getSvend_id()}"><button type="button">Rediger Medarbejder</button></a></td>

        </tr>


    </table>
</div>
</body>
</html>