<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Rediger medarbejder</title>
    <th:block th:include="fragments/head :: headInclude"/>
    <th:block th:include="fragments/til_toppen_knap :: til_toppen_knap"/>
    <link rel="stylesheet" type="text/css" th:href="@{style.css}">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container-fluid">

    <div class="container logo">
        <div class="row noBorder">
            <div class="col-sm-3"><img class="pull-left" th:src="@{/billeder/Logo PNG.png}"/></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4 top-45"><h2>Medarbejdere</h2></div>
        </div>
    </div>

    <div class="container">
        <div class="row noPadding">
            <div class="col">
                <table class="table table-bordered noMargin">
                    <thead class="logoColour">
                    <tr>
                        <th class="text-center" id="th-id">Medarbejder nr</th>
                        <th class="text-center">Fornavn</th>
                        <th class="text-center">Efternavn</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tr th:each="Medarbejder: ${medarbejderListe}">

                        <td class="td-center" th:text="${Medarbejder.getMedarbejder_id()}"></td>
                        <td class="td-center" th:text="${Medarbejder.getFornavn()}"></td>
                        <td class="td-center" th:text="${Medarbejder.getEfternavn()}"></td>
                        <td class="width-250"><a th:href="'/rediger_medarbejder/'+${Medarbejder.getMedarbejder_id()}">
                            <button type="button" class="btn defaultBtn blackColour">Rediger</button>
                        </a>
                            <!--<input type="hidden" th:value="${Medarbejder.getMedarbejder_id()}" name="sags_id">-->
                            <button type="button" class="btn defaultBtn blackColour"
                                    data-toggle="modal" data-target="#deleteModal"
                                    th:data-medarbejderid="${Medarbejder.getMedarbejder_id()}">Slet
                            </button>

                        </td>

                    </tr>

                </table>
            </div>
        </div>
    </div>

    <div id="deleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content modal-sm modal-centered">
                <div class="modal-header logoColour">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title logoColour">Modal Header</h4>
                </div>
                <div class="modal-footer">
                    <form method="post" th:action="@{/medarbejdere_til_redigering}">
                        <input type="hidden" name="medarbejder_id"/>
                        <button type="button" class="btn defaultBtn blackColour" data-dismiss="modal">Annuller</button>
                        <button type="submit" class="btn defaultBtn blackColour" name="slet_MedarbejderBtn">Slet</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
</body>
<script>
    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var medarbejderID = button.data('medarbejderid') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('Du er ved at slette medarbejder: ' + medarbejderID)
        modal.find('.modal-footer input').val(medarbejderID)
    })
</script>
</html>