<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Menu</title>
    <th:block th:include="fragments/head :: headInclude"/>


</head>

<body>
<div class="container-fluid" id="outerContainer">
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container" id="menuContainer">
        <a class="btn btn-primary btn-lg center-block" href="/opret_sag" role="button">Opret sag</a><br><br>
        <a class="btn btn-primary btn-lg center-block" href="/sager_til_redigering" role="button">Rediger sag</a><br><br>
        <a class="btn btn-primary btn-lg center-block" href="/sager_til_afslutning" role="button">Afslut sag</a><br><br>
        <a class="btn btn-primary btn-lg center-block" href="/opret_medarbejder" role="button">Opret medarbejder</a><br><br>
        <a class="btn btn-primary btn-lg center-block" href="/medarbejdere_til_redigering" role="button">Rediger medarbejder</a><br><br>
        <a class="btn btn-primary btn-lg center-block" href="/kalender" role="button">Kalender</a>
    </div>
</div>
</body>

</html>