<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Menu</title>
    <th:block th:include="fragments/head :: headInclude"/>


</head>

<body>
<div class="container-fluid" id="outerContainer">
    <nav th:replace="fragments/navbar :: navbar"></nav> <!-- Skal forklares -->
    <!--<h1 th:text="${session.Bruger}" class="center-align"></h1>-->
    <div class="container" id="menuContainer">

        <form method="post" th:action="@{/menu}">
            <button type="submit" name="opret_sag" class="btn center-block">Opret sag</button><br><br>
            <button type="submit" name="rediger_sag" class="btn center-block">Rediger sag</button><br><br>
            <button type="submit" name="afslut_sag" class="btn center-block">Afslut sag</button><br><br>
            <button type="submit" name="opret_medarbejder" class="btn center-block">Opret medarbejder</button><br><br>
            <button type="submit" name="rediger_medarbejder" class="btn center-block">Rediger medarbejder</button><br><br>
            <button type="submit" name="kalender" class="btn center-block">Kalender</button>
        </form>
    </div>
</div>
</body>

</html>