<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>opret_sag</title>
    <th:block th:include="fragments/head :: headInclude"/>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container-fluid">

    <form method="post" th:action="@{/opret_sag}">


        <div class="container logo">
            <div class="row">
                <div class="col-sm-6"><img class="pull-left" th:src="@{/billeder/Logo PNG.png}"/></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4"><h3 class="pull-right">Arbejdsseddel:</h3></div>

            </div>

        </div>

        <div class="container">
            <div class="row logoColour">
                <div class="col-sm-2">
                    <label>Arbejdssted:</label>
                </div>
                <div class="col-sm-10">

                    <input type="text" th:field="${case.arbejdssted}"/>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-2">
                    <label>Adresse:</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" th:field="${case.vejnavn}"/>
                </div>
            </div>

            <div class="row ">
                <div class="col-sm-2">
                    <label>By:</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" th:field="${case.by}"/>
                </div>
            </div>

            <div class="row ">
                <div class="col-sm-2">
                    <label>E-mail:</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" th:field="${case.email}"/>
                </div>
            </div>

            <div class="row logoColour">
                <div class="col-sm-2">
                    <label>Telefonnummer:</label>
                </div>
                <div class="col-sm-10">
                    <input class="" type="text" th:field="${case.telefonnummer}"/>
                </div>
            </div>

        </div>

        <div class="container">
            <div class="row logoColour">
                <div class="col-sm-2">
                    <label>Opstartsdato:</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" th:field="${case.start_dato}"/>
                </div>

                <div class="col-sm-2">
                    <label>Slutdato:</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" th:field="${case.slut_dato}"/>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row logoColour">
                <div class="col-sm-8 center-align logoColour">
                    <label>Ekstraarbejde er udført. Aftalt med:</label>
                </div>
                <div class="col-sm-4">
                    <input type="text"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <textarea wrap="hard" class="form-control textarea" rows="5"></textarea>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row logoColour">
                <div class="col-sm-4">
                    <label>Der er aftalt fast mødetid kl.</label>
                </div>
                <div class="col-sm-2">
                    <input type="text"/>
                </div>

                <div class="col-sm-4">
                    <label>Arbejdet skal udføres på overtid fra kl.</label>
                </div>
                <div class="col-sm-2">
                    <input type="text"/>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <label>Arbejdsbeskrivelse:</label>
                </div>
                <div class="col-sm-12">
                    <textarea wrap="hard" class="form-control textarea" rows="5" th:field="${case.arbejdsbeskrivelse}"></textarea>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <label>Særlige aftaler:</label>
                    <br/>
                    <input type="text" th:field="${case.saerlige_aftaler}"/>
                </div>
            </div>
        </div>

        <button type="submit" name="save" value="savebtn">Send</button>
    </form>
</div>

</body>

</html>