<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>opret_sag</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="container-fluid">
    <form method="post" th:action="@{/opret_sag}">

        <h2 class="right-align">Arbejdsseddel:</h2>

        <div class="container">
            <div class="row pull-left">
                <div class="col-md-12">
                    <label>Arbejdssted:</label>
                    <input class="form-control" type="text" th:field="${case.arbejdssted}"/>
                </div>
            </div>


            <div class="row pull-left">
                <div class="col-md-12">
                    <label>Adresse:</label>
                    <input type="text" th:field="${case.vejnavn}"/>
                    <br/>
                </div>
            </div>

            <div class="row pull-left">
                <div class="col-md-12">
                    <label>By:</label>
                    <input type="text" th:field="${case.by}"/>
                </div>
            </div>

            <div class="row pull-left">
                <div class="col-md-12">
                    <label>E-mail:</label>
                    <input type="text" th:field="${case.email}"/>

                </div>
            </div>

            <div class="row pull-left">
                <div class="col-md-12">
                    <label>Telefonnummer:</label>
                    <input type="text" th:field="${case.telefonnummer}"/>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label>Opstartsdato:</label>
                    <input type="text" th:field="${case.start_dato}"/>
                </div>

                <div class="col-md-6">
                    <label>Slutdato:</label>
                    <input type="text" th:field="${case.slut_dato}"/>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <label class="checkbox-inline"><input type="checkbox">Ekstraarbejde er udført.
                        <label>Aftalt med:</label>
                        <input type="checkbox"/>

                        <br/>
                        <input type="text"/>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label>Der er aftalt fast mødetid kl.</label>
                    <input type="text"/>
                </div>

                <div class="col-md-6">
                    <label>Arbejdet skal udføres på overtid fra kl.</label>
                    <input type="text"/>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <label>Arbejdsbeskrivelse:</label>
                    <br/>
                    <input type="text" th:field="${case.arbejdsbeskrivelse}"/>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <label>Særlige aftaler:</label>
                    <br/>
                    <input type="text" th:field="${case.saerlige_aftaler}"/>
                </div>
            </div>
        </div>

        <button type="submit" name="save" value="redigerbtn">Gem oplysninger</button>
    </form>
</div>

</body>

</html>