<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Sager til afslutning</title>
    <th:block th:include="fragments/head :: headInclude"/>
</head>
<body>
<div class="container">
    <h1>Sager til afslutning</h1>
    <table>
        <tr>
            <th>Sag nr:</th>
            <th>Arbejdssted:</th>
            <th>Beskrivelse</th>
            <th></th>
        </tr>
        <tr th:each="Case: ${caseList}">

                <td th:text="${Case.getSags_id()}"></td>
                <td th:text="${Case.getArbejdssted()}"></td>
                <td th:text="${Case.getArbejdsbeskrivelse()}"></td>
                <td>
                    <form method="post" th:action="@{/sager_til_afslutning}">
                        <input type="hidden"  th:value="${Case.getSags_id()}" th:name="id">
                        <a th:href="@{'/afslut_sag/'+ ${Case.getSags_id()}}"><button  type="button" name="afslut_sagBtn" class="btn btn-light registerBtn">Afslut sag</button></a>

                    </form>
                </td>

        </tr>


    </table>
</div>
</body>
</html>