<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Tilknyt medarbejder</title>
    <th:block th:include="fragments/head :: headInclude"/>
    <th:block th:include="fragments/til_toppen_knap :: til_toppen_knap"/>
    <link rel="stylesheet" type="text/css" th:href="@{../style.css}">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container-fluid">
    <form method="post" th:action="@{/tilknyt_medarbejder}">
    <div class="container logo">
        <div class="row noBorder">
            <div class="col-sm-3"><img class="pull-left" th:src="@{/billeder/Logo PNG.png}"/></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4 top-45"><h2>Tilknyt medarbejder(e)</h2></div>
        </div>
    </div>

    <div class="container">
        <div class="row logoColour">
            <div class="col">
                <h3 th:text="'Sag nr. ' + ${sags_id}"></h3>
                <h4>Vælg medarbejdere der skal tilknyttes sagen.<br>Marker
                    flere med ctrl+venstreklik
                </h4>

            </div>
        </div>

        <div class="row">
            <div class="col">
                <table>
                    <tr>
                        <div class="form-group marginbottom-1 ">

                                <select multiple class="form-control selectInherit" name="medarbejder_id" size="10">
                                    <option th:if="${Medarbejder.getStilling() == 'Svend'}"
                                            th:each="Medarbejder : ${medarbejderListe}"
                                            th:value="${Medarbejder.getMedarbejder_id()}"
                                            th:text="${Medarbejder.getFornavn()}+' '+${Medarbejder.getEfternavn()}+' (id: '+${Medarbejder.getMedarbejder_id()}+')'"></option>
                                </select>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div class="container noBorder">
        <div class="row">
            <div class="col">
                <button type="submit" class="btn defaultBtn" name="save">Tilknyt
                </button>
                <button class="btn defaultBtn" type="submit" name="addNone">Tilknyt ingen</button>
            </div>
        </div>
    </div>
    </form>
</div>
</body>
</html>