<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8"/>
        <title>Tilknyt medarbejder</title>
        <th:block th:include="fragments/head :: headInclude"/>
    </head>
    <body>
        <div class="container">
            <h1>Tilknyt medarbejder(e)</h1>
            <h1 th:text="'Sag nr. ' + ${sags_id}"></h1>
            <table>
                <form method="post" th:action="@{/tilknyt_medarbejder}">
                    <tr>
                        <div class="form-group">
                            <label>Vælg medarbejdere der skal tilknyttes sagen.<br>Marker flere med ctrl+venstreklik</label>
                            <select multiple class="form-control" name="medarbejder_id">
                                <option th:if="${Medarbejder.getStilling() == 'Svend'}" th:each="Medarbejder : ${medarbejderListe}" th:value="${Medarbejder.getMedarbejder_id()}" th:text="${Medarbejder.getFornavn()}+' '+${Medarbejder.getEfternavn()}+' (id: '+${Medarbejder.getMedarbejder_id()}+')'"></option>
                            </select>
                        </div>
                        <button type="submit">Tilknyt</button>
                    </tr>
                </form>
            </table>
        </div>
    </body>
</html>