<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Tilknyt medarbejder</title>
    <th:block th:include="fragments/head :: headInclude"/>
    <th:block th:include="fragments/til_toppen_knap :: til_toppen_knap"/>
    <link rel="stylesheet" type="text/css" th:href="@{../style.css}">
</head>
<body>
<div th:if="${session.Stilling == 'Leder' || session.Stilling == 'Konduktør'}">
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container-fluid">
        <form method="post" th:action="@{/tilknyt_medarbejder_opret_sag}">
            <div class="container logo">
                <div class="row noBorder">
                    <div class="col-sm-3"><img class="pull-left" th:src="@{/billeder/Logo PNG.png}"/></div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4"><h2 class="marginBottom50">Tilknyt eller fjern medarbejder(e)</h2></div>
                </div>
            </div>
            <div class="container paddingBottom10 bg-white">
                <div class="row logoColour">
                    <div class="col">
                        <input type="hidden" th:value="${Sag.getSags_id()}" name="sag_id"/>
                        <h3 th:text="'Sag nr. ' +${Sag.getSags_id()}"></h3>
                        <h4>Vælg medarbejdere der skal tilknyttes sagen.<br>Marker
                            flere med ctrl+venstreklik
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label class="marginLeft200">Ikke tilknyttede medarbejdere</label>
                        <table>
                            <tr>
                                <div class="form-group marginbottom-1">
                                    <select multiple class="form-control" name="tilknyt_Medarbejder_id" size="10">
                                        <option th:if="${Medarbejder.getStilling() == 'Svend'}"
                                                th:each="Medarbejder : ${medarbejderListe}"
                                                th:value="${Medarbejder.getMedarbejder_id()}"
                                                th:text="${Medarbejder.getFornavn()}+' '+${Medarbejder.getEfternavn()}+' (id: '+${Medarbejder.getMedarbejder_id()}+')'"></option>
                                    </select>
                                    <button type="submit" class="btn defaultBtn marginTop10" name="save">Tilknyt</button>
                                </div>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 center-block">
                        <label class="marginLeft200">Tilknyttede medarbejder</label>
                        <table>
                            <tr>
                                <div class="form-group marginbottom-1">
                                    <select multiple class="form-control" name="fjern_Medarbejder_id" size="10">
                                        <option th:each="Medarbejder : ${aktiveMedarbejdere}" th:value="${Medarbejder.getMedarbejder_id()}"
                                                th:text="${Medarbejder.getFornavn()}+' '+${Medarbejder.getEfternavn()}+' (id: '+${Medarbejder.getMedarbejder_id()}+')'">
                                        </option>
                                    </select>
                                    <button type="submit" class="btn defaultBtn marginTop10" name="remove">Fjern</button>
                                </div>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container noBorder">
                <div class="row">
                    <button class="btn defaultBtn marginRight-10" type="submit" name="opret">Opret</button>
                    <button onclick="history.go(-1);" type="button" name="tilbage" class="btn defaultBtn blackColour">
                        Tilbage
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:if="${session.Stilling != 'Leder' && session.Stilling != 'Konduktør'}" th:insert="fragments/ingen_adgang :: noAccess"></div>
</body>
</html>